@charset "UTF-8";

* {
	margin : 0;
	padding : 0;
	font-family: 'Nanum Gothic', sans-serif;   


}

/* button{
	background: inherit ; 
	border:none; box-shadow:none; 
	border-radius:0; 
	padding:0; 
	overflow:visible; 
	cursor:pointer
}ㄴ */

::-webkit-scrollbar {
	width: 6px;
  }
::-webkit-scrollbar-track {
	background-color: transparent;
  }
::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgb(87, 2, 87);
  }
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
  }


.btn_buyerAction, .btn_sellerAction, .btn_mybuyer_view {
	width: 70px;
	height: 30px;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom:10px;
	border-radius: 7px!important;
	background-color: purple!important;
	color : lightgoldenrodyellow!important;
	border: none!important;
	cursor: pointer!important;
	display: inline-block!important;
	float: right!important;
	font-size: 0.9em!important;
	
}

.btn_hamburger {
	display: inline-block;
	margin-right: 100px;
}

.btn_logout {
	width: 110px;
	height: 30px;
	background-color: rgb(87, 2, 87);
	border-radius: 30px;
	color : rgb(199, 126, 235);
	border: none;
	cursor: pointer;
	display: inline; 
	font-weight: lighter;
	float: left;
}

.closebtn {
	/* left: 0%; */ 
	margin-left: 200px; 
	color: rgb(199, 126, 235);
	size: 20px;
	text-decoration: none;
	display: inline;
	float: rignt;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: purple;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}
  
  
/* #main {
	transition: margin-left .5s;
	padding: 16px;
} */
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
}





.profile {
	width: 100%;
	height: 130px;
	margin: 5px auto;
	vertical-align: middle;
	border-bottom : 1px solid thistle;
	

}


.aside_myimg {
	width: 30%;
	height: 150px;
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.aside_myimg img {
	width: 80px;
	height: 80px;
	border-radius: 50px;
	margin-right: 30px;
	left: 50%; 
	margin-left: 20px; 
	top :50%;
	margin-top: 20px;
	
}

.aside_myprofile {
	width: 65%;
	height: 150px;
	display: inline-block;
	float: right;
}

.aside_myprofile h3 {
	margin-bottom: 20px;
	top: 50%; 
	margin-top: 20px;
	font-size: 0.9em;
	color : white;
}

.aside_myprofile h4 {
	color : white;
	font-size: 0.9em;
	display: inline;

}




.aside_myitem {
	width: 100%;
    /* display: block; */
    /* padding: 8px 16px; */
    border: none;
	/* white-space: normal; */
	
}

.aside_tabs {
	width: 100%;
	height: 60px;
	margin : 0 auto;
	left: 50%; 
	margin-left: 30px; 
	
	
}

.btn_tab {
	width: 150px;
	height: 40px;
	border-radius: 10px;
	background-color: purple;
	color : white;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.aside_tabs h4 {
	display: inline;
	color : white;
}




.aside_item_title {
	width: 300px;
	height: 25px;
	border-radius: 10px;
	background-color: rgb(95, 41, 95);
	color : white;
	border: none;
	cursor: pointer;
	text-align: left;
	/* display: inline-block; */
	font-weight: lighter;
	margin-left: 15px;
}

.aside_mystatewrap {
	display: inline-block;
	font-weight: lighter;
}




.delOrder {
	width: 20px;
	height: 20px;
	margin-top: 5px;
	border-radius: 7px;
	margin-right: 10px;
	background-color: rgb(95, 41, 95);
	color : lightgoldenrodyellow;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 0.9em;

}

.buyer_name{
	font-weight: lighter;
}

/* aside ----------------------------------- */

#alarm_b {
	font-size: 20px;
	color: black;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	display: inline-block;
	background-color: yellow;
}


.alarm {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red!important;
	display: inline-block;
	margin-left: 10px;
	float: left;
}


.aside_state, .aside_mycard {
	min-height: 80px;
	font-weight: lighter;
}


.aside_mycard {
	width: 100%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-radius: 7px;
	background-color: rgb(95, 41, 95);
	font-size: 0.9em;
}

/* .aside_mycard:hover {
	margin: 10px;
	border-radius: 10px;
	box-shadow: 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px
		rgba(255, 255, 255, 1), inset 0px 0px 4px rgba(255, 255, 255, 0.2),
		inset 7px 7px 15px rgba(55, 84, 170, 0), inset -7px -7px 20px
		rgba(255, 255, 255, 0), 0px 0px 4px rgba(255, 255, 255, 0);
	transition: all 0.3s;
} */

.aside_mycard+h4 {
	display: inline-block;
}


.aside_state {
	width: 20px;
	min-height: 80px;
	border-radius: 7px 0 0 7px;
	line-height: 30px;
	display: inline-block;
	/* background-color: lightgoldenrodyellow; */
	color : white;
	float: left;
}

/* 구매자 - 상태라벨 색상 */
.next {
	background-color: navy;
}

.join {
	background-color: hotpink;
}

.buyer {
	background-color: mediumorchid;
}

.review {
	background-color: mediumslateblue;
}


/* 판매자 - 상태라벨 색상 */
.saleFail {
	background-color: navy;
}

.joinIng {
	background-color: hotpink;
}

.joinCom {
	background-color: mediumorchid;
}

.saleCom {
	background-color: mediumslateblue;
}







.aside_item_title {
	float: left;
	font-size: 1em;
	font-weight: bold;
}

/* 링크 표시 */
.aside_mycard a:link {
	color: black;
	text-decoration: none;
}

/* 방문한 링크 */
.aside_mycard a:visited {
	color: pink;
}

/* 마우스가 올라갔을때 */
.aside_mycard a:hover {
	color: white;
	background-color: rgb(140, 83, 148);
}






/* 평점등록 시 별점 css */

/* Rating Star Widgets Style */
.rating-stars ul {
	list-style-type:none;
	padding:0;
	
	-moz-user-select:none;
	-webkit-user-select:none;
}


.rating-stars ul > li.star {
	display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
		font-size:1em; /* Change the size of the stars */
		color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
	color:#FFCC36!important;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
	color:#FF912C!important;
}












