body {
    color: #333;
    font-family: Lato;
    font-weight: 300;
    text-align: center;
    background: #333;
  }
  .container > .btn {
    margin: 60px;
    padding: 20px 40px;
    font-size: 30px;
    border-radius: 40px;
  }
  .modal {
    background: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
    top: 100%;
    position: fixed;
    left: 0;
    text-align: left;
    .header {
      padding:20px;
      border-bottom: 1px solid #ddd;
      font: 300 24px Lato;
      position: relative;
      }
    .body {
      padding: 20px;
      font: 300 16px Lato;
    }
  }
  
  .btn {
     background: linear-gradient(to right, rgb(220, 227, 91), rgb(69, 182, 73));
    padding: 10px 25px;
    display: inline-block;
    border-radius: 25px;
    margin: 20px 0;
    color: #fff;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
    &:hover {
      box-shadow: 0 3px 15px rgba(0,0,0,0.2);
    }
  }
  
  .container.modal-open .modal {
    top: 0;
  }