@charset "UTF-8";

body{
  padding:0;
  margin:0;
}
.container {
  position:relative;
  height:100%;
  overflow:hidden;
  background-color:#8C5394;
}
.main_image {
	z-index:0;
}

.box{
  /* position:absolute; */
  z-index:1;
  height:30%;
  width:20%;
  font-family:Helvetica;
  color:#fff;
  background:#8C5394;
  padding:30px 0px;
  border-radius: 25px 25px;
  
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
#linkToLogin {
  border:0;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}

#loginBtn {
	margin-left:5%;	
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}