@charset "UTF-8";

html { 
	/* background: url(images/pexels-bach-hanzo-3551355.jpg) no-repeat 50% 50% fixed; */ 
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
}



body{
  padding:0;
  margin:0;
}
.container {
  position:relative;
  height:100%;
  overflow:hidden;
  background-color:#8C5394;
}

.main_image { 
	/* Set rules to fill background */
 	min-height: 100%; min-width: 1024px;
  	/* Set up proportionate scaling */
   	width: 100%; height: auto;
    /* Set up positioning */
    position: fixed; 
    top: 0; 
    left: 0; 
    opacity:0.2;
}

@media screen and (max-width: 1024px) { 
/* Specific to this particular image */ 
.main_image { 
	left: 50%;
	 margin-left: -512px; 
	 /* 50% */ 
	 } 
}



.box{
  position:relative;
  height:300px;
  width:260px;
  font-family:Helvetica;
  color:#fff;
  background:#8C5394;
  margin-top: 300px;
  margin-left:300px;
  padding:30px 0px;
  border-radius: 25px 25px;
  
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
#linkToLogin {
  border:0;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}

#loginBtn {
	margin-left:5%;	
}
.box button:active{
  background:#27ae60;
}
.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}