<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

</head>
<body>

	<div id="classListBody"></div>


</body>
</html>
<script>

	$(document).ready(function() {

		   $.ajax({
               url : '',//XML일때 데이터를 받아올 수 있는 페이지
               type : 'get',
               	data : {},//
               success : function(data){
                   //alert(data);
                   $(data).find('member').each(function(index, item){
                       var idx = $(this).find('idx').text();
                       var uid = $(this).find('uid').text();                        
                       var uname = $(this).find('uname').text();                        
                       var upw = $(this).find('upw').text();                        
                       var uphoto = $(this).find('photo').text();    
                       
                       var html = '';
                       html += '<div class="card">';
                       html += idx + '<br>' + uid + '<br>' + uname + '<br>' + upw + '<br>' + '<img src="http://localhost:8080/opmvc/'+uphoto+'">';
                       html += '</div>';
                       
                       $('body').append(html);
                   });
               }

           });

	});
</script>