<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>FirstWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<!-- 서블릿 등록/////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  	<servlet>
  		<!-- 서블릿 식별 이름 -->
  		<servlet-name>testServlet</servlet-name>
  		<!-- 서블릿 클래스의 이름은 FullName으로 -->
  		<servlet-class>test.NowServlet</servlet-class>
  	</servlet>
  	
  	<!-- 경로 맵핑 -->
  	<servlet-mapping>
  		<!--요청에 실행할 서블릿 이름 등록-->
  		<servlet-name>testServlet</servlet-name>
  		<!-- http://localhost:8080/web/hello -->
  		<url-pattern>/hello</url-pattern>
  	</servlet-mapping>
  	
  	<!-- 데이터베이스 드라이버 로드 -->
  <!-- 	<servlet>
  		<servlet-name>Loader</servlet-name>
  		<servlet-class>jdbc.Loader</servlet-class>
  		<init-param>
  			<param-name>jdbcDriver</param-name>
  			<param-value>oracle.jdbc.driver.OracleDriver,com.mysql.jdbc.Driver</param-value>
  		</init-param>
  		<init-param>
  			<param-name>msg</param-name>
  			<param-value>hello!</param-value>
  		</init-param>
  		
  		<load-on-startup>1</load-on-startup>
  	</servlet> -->
  	
  	<!-- 커넥션 풀 드라이버 등록 -->
  	<servlet>
  		<servlet-name>DBCPInit</servlet-name>
  		<servlet-class>jdbc.DBCPInit</servlet-class>
  		<load-on-startup>1</load-on-startup>
  	</servlet>
  	
  
  <!-- 에러 페이지 설정////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <!-- 상태 코드의 에러 페이지 설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error_404.jsp</location>
  </error-page>
  
    <error-page>
  	<error-code>500</error-code>
  	<location>/error/error_500.jsp</location>
  </error-page>
  
  <!-- 에러 타입별 에러페이지 설정 -->
  <error-page>
  	<exception-type>java.lang.NullPointerException</exception-type>
  	<location>/error/error_null.jsp</location>
  </error-page>
  
  
  	<!-- 필터 등록/////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  <filter>
  	<filter-name>loginCheckFilter</filter-name>
  	<filter-class>filter.LoginFilter</filter-class>
  </filter>
  
  <!-- 다른 매핑 추가 시 똑같은 폼으로 입력 -->
  <filter-mapping>
  	<filter-name>loginCheckFilter</filter-name>
  	<url-pattern>/myPage/*</url-pattern>
  </filter-mapping>
  
  
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>filter.CharacterEncodingFilter</filter-class>
  </filter>
  
   <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>		<!-- /* means all request comes to the Filter -->
  </filter-mapping>
  
  
  
  	<!-- 리스너 등록/////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  	<listener>
  		<listener-class>listener.TestContextListener</listener-class>
  	</listener>
  
  	<!-- context param 등록(이벤트)/////////////////////////////////////////////////////////////////////////////////////////////////////// -->
  	<context-param>
  		<param-name>uploadPath</param-name>
  		<param-value>/uploadFile/member/photo</param-value>
  	</context-param>
  
  
  
</web-app>