* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic', sans-serif;   
}


/* 키오스크 화면프레임 */
#wrap {
    width: 1024px;
    height: 768px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
}

/* 영역 : 사이드메뉴 팝업창 오렌지배경 */
#content_pop_area {
    width: 680px;
    height: 700px;
    background-color: orange;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    margin: 0 auto;

    position: relative;
    top: 30px;

}

/* 영역 : 사이드메뉴 팝업창 흰배경 */
#content_pop_background {
    width: 660px;
    height: 670px;
    background-color: white;
    border-radius: 20px;

    margin: 0 auto;

    position: relative;
    top: 10px;
}

/* ------------------------------------------------- */
/* 영역 : 선택메뉴 이미지 */
#select_menu_img {
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
    text-align: center;
    /* background-color: tan; */

}

/* 이미지 : 선택메뉴 */
#select_menu_img>img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}




/* ------------------------------------------------- */
/* 영역 : 선택메뉴 설명 */
#menu_info {
    width: 440px;
    height: 130px;
    padding-top: 20px;
    padding-left: 20px;
    /* background-color: wheat; */
    overflow: hidden;
}

/* 텍스트 : 선택메뉴 이름 */
.sub_title {
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 텍스트 : 선택메뉴 설명 */
.info {
    font-weight: 100;
    color: dimgray;
}


/* ------------------------------------------------- */
/* 영역 : 선택메뉴 - 수량 및 가격 */
#select_count {
    width: 440px;
    height: 30px;
    /* background-color: violet; */
    padding-top: 11px;
    padding-right: 20px;
    line-height: 10px;
    padding-bottom: 10px;
    
    text-align: right;
    overflow: hidden;

}

/* 텍스트 : 선택메뉴 - 수량, 가격 */
.side_text {
    font-size: 1.2em;
    font-weight: 100;
    color: dimgray;
    display: inline;
    margin-right: 10px;
}


/* 버튼 : 선택메뉴 수량 */
#select_count>input {
    width: 100px;
    height: 20px;
    margin-right: 30px;
}


/* 텍스트 : 선택메뉴 가격 */
.select_menu_price {
    color: red;
    font-size: 1.2em; 
    font-weight: bold;
    margin-right: 30px;
    text-align: right; 
    display: inline;

}

/* ------------------------------------------------- */
/* 영역 : 사이드메뉴 */
#side_menu {
    width: 660px;
    height: 400px;
    background-color: whitesmoke;   
}

/* 영역 : 사이드메뉴 div */
/* 가람 수정 클래스 */
.side_menu_div {
    position: relative;
    margin: 0 auto;

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
}


/* 영역 : 사이드메뉴 각 셀들 */
/* 가람 수정 클래스 */
.side_menu_div div {
    float: left;
    padding-bottom: 10px;
}

/* 텍스트 : 사이드메뉴 */
.side_title { 
    padding-top: 15px;
    padding-left: 40px;
    color: red;
    font-size: 1.2em;
    font-weight: bold;
    
}

/* 이미지 : 사이드메뉴 */
.side_menu_img {
    width: 160px;
    height: 110px;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: block;
    border-radius: 10px;
   
}

/* 텍스트 : 사이드메뉴 이름 */
.side_menu_name {
    font-weight: 100;
    color: dimgrey;
    margin-right: 20px;
    padding-bottom: 10px;
    display: inline;
    
}


/* 텍스트 : 사이드메뉴 가격 */
.side_menu_price {
    font-weight: 500;
    color: red;
    margin-bottom: 10px;
    display: inline;
}

/* 버튼 : 사이드메뉴 선택 */
.side_menu_btn {
    margin: 0;
    padding: 0;
    font-size: 1em;
    border: none;
    background-color: whitesmoke;
    
}


.select_border {
    background-color: bisque;
    border-radius: 10px;
}


/* ------------------------------------------------- */
/* 영역 : 사이드_이벤트버튼(취소/확인) */
#side_event_area {
    width: 660px;
    height: 70px;
    background-color: whitesmoke; 
    text-align: center;
    line-height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
}

/* 버튼 : 사이드 메뉴창 - 확인 */
#side_ok {
    width: 230px;
    height: 50px;

    border: none;
    border-radius: 30px;
    color: white;
    background-color: orange;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    text-align: center;
    line-height: 50px;

    font-size: 1.5em;
    font-weight: bold;
}

/* 버튼 : 사이드 메뉴창 - 취소 */
#side_cancle {
    width: 230px;
    height: 50px;

    border: none;
    border-radius: 30px;
    color: white;
    background-color: dimgray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

    text-align: center;
    line-height: 50px;
    margin-right: 100px;

    font-size: 1.5em;
    font-weight: bold;

    
}



/*-------------- 팝업창 스크립트 -------------- */
 

/* #overlay {
   position: fixed;
   height: 100%; 
   width: 100%;
   top: 0;
   right: 0;  
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
} */

/* #popup {
   max-width: 600px;
   width: 80%;
   max-height: 300px;
   height: 80%; 
   padding: 20px;
   position: relative;
   background: #fff;
   margin: 20px auto;
} */

/* #close {
   position: relative;
   /* top: 10px;
   right: 10px; */
   /* cursor: pointer;
   color: #000;
   display: inline;
} */

