 .menu_cell>button{
    background-color: white;
    border-color: white;
    border-radius: 10px;
   }
 .menu_btn>h3{
    color: black;
 }
 
 .overlay {
    position: fixed;
    height: 100%; 
    width: 100%;
    top: 0;
    right: 0;  
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    display: none;
 }

 .overlay2 {
   position: fixed;
   height: 100%; 
   width: 100%;
   top: 0;
   right: 0;  
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
}


div.overlay3 {
   position: fixed;
   height: 100%; 
   width: 100%;
   top: 0;
   right: 0;  
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
}

 
 #popup {
    max-width: 600px;
    width: 80%;
    max-height: 300px;
    height: 80%; 
    padding: 20px;
    position: relative;
    background: #fff;
    margin: 20px auto;
 }
 
 #close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
 }