* {
    margin: 0;
    padding: 0;
}
#wrapOrderList {
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    display: none;
    font-family: 'Nanum Gothic', sans-serif;
}
.order_outside{
    width: 680px;
    height: 700px;
    margin: 0 auto;
    position: relative;
    top: 30px;

    background-color: orange;
    border-radius: 15px;
}
.order_inside{
    width: 650px;
    height: 670px;
    margin: 0 auto;
    position: relative;
    top: 15px;

    background-color: white;
    border-radius: 15px;
}
.order_header{
    margin: 0 30px;
}
.title{
    padding-top: 20px;

    letter-spacing: 10px;
    color: orange;
    font-size: 36px;
}
.order_header h3{
    margin-left: 90px;
    margin-top: 10px;
    display: inline-block;

    letter-spacing: 5px;
    font-weight: lighter;
}
.order_header button{
    width: 74px;
    height: 40px;

    border-radius: 10px;
    color: white;

    vertical-align: middle;
    float: right;
}
.order_header2{
    clear: both;
    margin: 0 30px;
}
ul>li{
    float: left;
    list-style: none;
    width: 50px;

    margin: 0 20px;
    padding-top: 10px;

    text-align: center;
    /* padding-left: 20px;
    padding-right: 20px; */
}
ul>li:nth-child(3){
    width: 180px;
    text-align: left;
}
.order_content{
    clear: both;
    margin: 0 30px;
    height: 300px;

    display: block;
}
.order_content table{
    margin: 0 20px;
    height: 100px;
}
.order_content td{
    width: 30px;
    padding: 10px;
    text-align: center;
}
.order_content td:nth-child(3){
    width: 200px;
    text-align: left;
}
.order_footer{
    margin: 0 30px;
}
.order_footer table{
    width: 500px;

    font-size: 25px;
    text-align: center;
}
.order_footer button{
    width: 235px;
    height: 57px;

    border-radius: 40px;

    font-size: 20px;
    color: white;
}
button.togo, button.cancel{
    background-color: dimgray;
    border: 1px solid dimgray;
}
button.hall, button.credit{
    border: 1px solid orange;
    background-color: orange;

    float: right;
}