@charset "UTF-8";

* {
	margin: 10px 10px;
	padding: 0;
}

body {
		margin: 30px 30px;
		padding: 10px 10px;
	}


#header {
	padding: 15px 20px;
}

#nav {
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	overflow: hidden;
	list-style: none;
}

#nav>li {
	float: left;
	padding: 5px 20px;
}

footer {
	text-align: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
	margin-top: 10px;
	
}

input[type=text], input[type=password], input[type=email]{
	padding: 3px;
}