@charset "UTF-8";

#search_area {
	width: 50%;
	height: 100px;
	float: right;
	/* background-color: teal; */
	display: inline-block;

}

.inputSearch {
	width: 100%;
	height: 50px;
	display: inline-block;
	margin-bottom: 20px;
	/* background-color: wheat; */
}

.CategorySearch {
	width: 100%;
	height: 30px;
	display: inline-block;
	/* background-color: silver; */
}



/* 검색아이콘. 기능 */
.search {
	width: 130px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	background-color: white;
	background-image: url('searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	float: right;
  }
  
  .search:focus {
	width: 350px;
  }

/* 버튼 : 카테고리검색  */
.btn_search_category {
	width: 120px;
	height: 30px;
	border-radius: 10px;
	background-color: lightgoldenrodyellow;
	color : purple;
	border: none;
	cursor: pointer;
	display: inline-block;
	float: right;
	margin-right: 10px;
}

#search_area h4 {
	display: inline;
	font-size: 0.8em;
	float: right;
}

/* 카테고리 검색 : card 출력상태로 변경할 때 */
.show {
	display: inline-block;
}

/* 카테고리 검색 : 클릭한 카테고리 버튼의 색 변경 */
.active{
	background-color: purple;
	color: white;
}