/* font-family: 'Nanum Gothic', sans-serif; */
#wrap {
    margin: 30px;
    padding: 30px;
    width: 1004px;
    height: 758px;
}

#title_area {
    width: 1004px;
    height: 100px;
}

#content_area {
    width: 1024px;
    height: 628px;
    position: relative;
    overflow: auto;
}

#footer_area {
    display: inline;
    margin: 50px 50px;
}

/* #event_area {
    
} */


#title_area>img {
    /* display: inline-block; */
    width: 95px;
    height: 95px;
    
}


table.menuOpt {
    margin-bottom: 0px;
    margin-right: 0px;
    /* padding: 5px 5px; */
    float: right;
    background-color: #696969;
    border: 10px solid #696969;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

#menuTable {
    /* position: relative; */
    overflow: auto;
}

table.menuSelect {
    margin-right: 0px;
    padding: 40px 40px;
    border: 10px solid #696969;
    border-top-left-radius: 10px;
    /* border-top-right-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* position: relative; */
}

table.menuOpt>tbody>tr>td>img {
    width:90px;
    height:70px;
    border-radius: 5px;
}

table.menuSelect>tbody>tr>td {
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    line-height: normal;
    /* position: absolute; */
}

/* table.menuSelect>tbody>tr>td {
    position: absolute;
} */

table.menuSelect>tbody>tr>td>img {
    margin: 50px 50px;
    width: 197px;
    height: 127px;
    display: block;
    position: absolute;
}

#footer_area>label {
    margin: 50px 50px;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
}

#price {
    color: red;
    font-weight: bold;
    font-family: 'Nanum Gothic', sans-serif;
}


#footer_area>label:nth-child(3) {
    padding: 0 50px;
}

#event_area>img {
    border-image: 3px solid green;
}